{
  "extends": ["airbnb-typescript", "prettier", "plugin:import/errors", "plugin:import/warnings", "plugin:import/typescript"],
  "plugins": ["prettier", "@typescript-eslint", "import", "react"],
  "ignorePatterns": ["**/ldavis/*.js"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": ["off"],
    "react/jsx-filename-extension": [2, { "extensions": [
      ".js", ".jsx", ".ts", ".tsx"
    ] }]
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "parser": "@typescript-eslint/parser"
}
