/* Taken from https://github.com/thesseyren/react-ldavis*/
/* Taken from https://github.com/cpsievert/LDAvis */
/* Copyright 2013, AT&T Intellectual Property */
/* MIT Licence */

.LDAvis path {
  fill: none;
  stroke: none;
}

.LDAvis .xaxis .tick.major {
  fill: black;
  stroke: black;
  stroke-width: 0.1;
  opacity: 0.7;
}

.LDAvis .slideraxis {
  fill: black;
  stroke: black;
  stroke-width: 0.4;
  opacity: 1;
}

.LDAvis text {
  font-family: sans-serif;
  font-size: 11px;
}