:root {
  --size-small: 4px;
  --size-large: 8px;
  --size-very-large: 16px;
}

/* home */
.app-logo {
  margin-top: 48px;
  margin-bottom: 48px;
  pointer-events: none;
  color: #61DBFB;
  font-size: calc(50px + 10vmin);
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  text-align: center;
}

.home-button {
  width: 50%;
}

.statsHighlight {
  color: gray;
}

/* general structure */
.frame {
  /*text-align: center;*/
  height: 100vh;
  width: 100vw;
}

.stack {
  flex: 1;
}

.tools {
  background: darkgrey;
  padding: var(--size-large);
  align-items: center;
}

.tools > * {
  padding: var(--size-large);
}

.graphs {
  margin: var(--size-large);
}

/* filter */
.sidebar {
  background: lightgrey;
  padding: var(--size-small);
  text-align: start;
  width: calc(2 * var(--size-large) + 300px);
}

.sidebar > * {
  padding: var(--size-large);
}

.filter-header {
  align-items: center;
  justify-content: space-between;
}

.filter-label {
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

/* Grid */
.MuiDataGrid-footerContainer {
  min-height: 35px !important;
  height: 35px;
}


/* Treemap */
/*.treemap {*/
/*  overflow: scroll;*/
/*  overflow-wrap: break-word;*/
/*}*/

/*.treemap .apexcharts-datalabel {*/
/*  overflow: scroll;*/
/*  overflow-wrap: break-word;*/
/*  font-size: 14px !important;*/
/*}*/