html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --header-height: 5vh
}

.App {
  text-align: center;
  /*display: flex;*/
  /*flex-flow: column;*/
  /*height: 100%;*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*min-width: 100vh;*/
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.header {
  min-height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background: dodgerblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stack1 {
  display: flex;
  flex-flow: row;
  /*flex: 1;*/
}

.stack2 {
  /*display: flex;*/
  /*flex-flow: column;*/
  /*flex: 1;*/
}

.sidebar {
  height: auto;
  background: grey;
  /*flex: 1;*/
}

.selection {
  background: green;
  /*flex: 1;*/
}

.graphs {
  height: auto;
  width: auto;
  /*flex: 1;*/
}