:root {
  --size-small: 4px;
  --size-large: 8px;
  --size-very-large: 16px;
  --boxplot-width: 180px; /* Has to be defined via CSS, see boxplot */
}

/* forms content */

.form-container {
  background: #dddddd;
  margin-top: calc(var(--size-large) * 10);
  border-radius: var(--size-large);
}

/* home */
.app-logo {
  margin-top: 48px;
  margin-bottom: 48px;
  pointer-events: none;
  color: #61dbfb;
  font-size: calc(50px + 10vmin);
  font-weight: bold;
}

.background-gradient {
  background-color: blue;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #5a5ae6, #2979fa);
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-color: white;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-button {
  width: 50%;
}

.statsHighlight {
  color: gray;
}

/* general structure */
.frame {
  display: grid;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header header '
    'side   tools  '
    'side   content';
}

.stack {
  flex: 1;
}

.appbar {
  grid-area: header;
}

/* filter */
.sidebar {
  background: lightgrey;
  padding: var(--size-small);
  text-align: start;
  width: calc(2 * var(--size-large) + 300px);
  grid-area: side;
}

.sidebar > * {
  padding: var(--size-large);
}

.filter-header {
  align-items: center;
  justify-content: space-between;
}

.filter-label {
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

/* content */
.frame-with-graphs {
  grid-area: content;

  margin: var(--size-small);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'bar   box  '
    'grid  box  '
    'tree  tree ';
}

.tools {
  background: darkgrey;
  padding: var(--size-large);
  align-items: center;
  grid-area: tools;
}

.tools > * {
  padding: var(--size-large);
}

.barchart {
  /*background: red;*/
  grid-area: bar;
}

.grid {
  /*background: green;*/
  grid-area: grid;
}

.MuiDataGrid-footerContainer {
  min-height: 35px !important;
  height: 35px;
}

.title {
  color: #263238;
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.boxplot {
  grid-area: box;
  width: var(--boxplot-width);
  /*background: blue;*/
}

/* TODO remove when boxplot log scale is fixed */
.boxplot .apexcharts-menu-item.exportCSV {
  display: none;
}

.treemap {
  /*background: orange;*/
  grid-area: tree;
}

.treemapTextField input {
  height: 10px;
}

/* citations dashboard */
.citationsDashboard {
  grid-area: content;
  margin: var(--size-small);
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'bar   box  box2'
    'bar2  box  box2';
}

.barchart2 {
  grid-area: bar2;
}

.boxplot2 {
  grid-area: box2;
  width: var(--boxplot-width);
}
